/* src/App.css */

body {
  font-family: "Roboto", sans-serif;
  /* color: #fff; */
  /* background-image: url("/path-to-your-f1-background.jpg"); */
  background-size: cover;
  background-position: center;
  text-align: center;
}

.App {
  padding: 10px;
  /* background-color: rgba(0, 0, 0, 0.75); */
  border-radius: 8px;
  margin: auto;
}

h2 {
  color: #e10600; /* F1 red */
  margin-bottom: 20px;
}

div {
  margin: 10px 0;
}

/* Responsive grid for standings */
.standings-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.standing,
.race-result {
  padding: 10px;
  background-color: #222;
  border-radius: 5px;
}
